@using ProjectManagementSystem.Models
@model Project

@{
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    ViewBag.Title = "Project Home";
}

@section SectionNav {
    @Html.Partial("_ProjectNavbar")
}

<h2>@Model.ProjectName</h2>
<p>
    Project Owner: @Model.User.UserName
</p>
<p>
    @Model.Description
</p>

