
@{
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    ViewBag.Title = "Project Home";
}

@section SectionNav {
    @Html.Partial("_ProjectNavbar")
}

<h2>Project Name</h2>
<p>
    Project description.
</p>

