@using ProjectManagementSystem.Models
@model IEnumerable<Requirement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

@section SectionNav {
    @Html.Partial("_RequirementsNavbar")
}

<h2>View Requirements</h2>
<div class="container">
@foreach (Requirement req in Model) {
    <div class="row">
        <div class="col-md-2">@req.RequirementID</div>
        <div class="col-md-10">@req.Description</div>
    </div>
}
</div>
