<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Edit Details", "Details", "Project")</li>
                <li>@Html.ActionLink("Risks", "Risks", "Project")</li>
                <li>@Html.ActionLink("Team", "Team", "Project")</li>
            </ul>
        </div>
    </div>
</div>
