<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Edit Details", "Details", "Project", new { id = ViewBag.ProjectId }, null)</li>
                <li>@Html.ActionLink("Risks", "Risks", "Project", new { id = ViewBag.ProjectId }, null)</li>
                <li>@Html.ActionLink("Team", "Team", "Project", new { id = ViewBag.ProjectId }, null)</li>
                <li>@Html.ActionLink("Log Out","Logout", "User", null, null)</li>
            </ul>
        </div>
    </div>
</div>
