<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("View", "Index", "Requirements")</li>
                <li>@Html.ActionLink("Create", "Create", "Requirements")</li>
                <li>@Html.ActionLink("Edit", "Edit", "Requirements")</li>
            </ul>
        </div>
    </div>
</div>
