@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="body-content">
    
    <h3 class="h3"> Purpose</h3>
    <p>
        The purpose of this application is to provide a platform for its user to store project attributes such as the project description, project owner, team members and risks associated to the project. 
        The application will equally allow the user to provide the projects functional and non-functional requirements and enable him/her to track project advancement and team effort per activity.
    </p>
    
    <h3 class="h3">Functionalities</h3>
    <p>
        This application provides a good range of functionalities as requested by the customer. The list goes as follows:
        
        <ul class="list-group">
            <li class="list-group-item-text"> Create, edit and view high level description of the software project </li>
            <li class="list-group-item-text">Create, edit and view the list of project team members</li>
            <li class="list-group-item-text">Create, edit and view risks and risks status</li>
            <li class="list-group-item-text">Create, edit and view the list of functional and non-functional requirements for the software project</li>
            <li class="list-group-item-text">Create, edit and view the effort in number of person hours expended on Requirements Analysis, Designing, Coding, Testing, Project Management (by each of the earlier entered requirements).</li>
            <li class="list-group-item-text">Create, edit and view the total expended hours by requirements analysis, designing, coding, testing, project management (by each of the requirement entered)</li>
            
        </ul>
    </p>

    <h3 class="h3">Team</h3>
    <p>
        The team in charge of designing, developing, testing and deploying the product, while managing the project:
        <ul class="list-group">
            <li class="list-group-item-text"> Boum III Jr</li>
            <li class="list-group-item-text"> Eric O'Neill</li>
            <li class="list-group-item-text"> Qichang Zheng</li>
            <li class="list-group-item-text"> Tony Dang</li>
        </ul>
    </p>
</div>

