@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1100 South Marietta Parkway SE<br />
    Marietta, GA 30060<br />
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:eoneill@spsu.edu">eoneill@spsu.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:jboum@spsu.edu">jboum@spsu.edu</a>
</address>