@using ProjectManagementSystem.Models;
@model IEnumerable<Project>

@{
    ViewBag.Title = "Home Page";
}

<h3>Projects</h3>
@{
    foreach (Project project in Model) {
        <p>@Html.ActionLink(project.ProjectName, "Index", "Project", new {id = project.ProjectID}, null)</p>
    }
}

<form class="form-horizontal" role="form" action="~/Project/Create" method="post">
    <h3>Create a new Project</h3>
    <div class="form-group">
        <label for="ProjecName" class="col-sm-2 control-label">Project Name:</label>
        <div class="col-sm-4">
            <input type="text" name="ProjectName" id="ProjectName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-1 col-sm-offset-1">
            <button type="submit" class="form-control">Create</button>
        </div>
    </div>
</form>
