@{
    Layout = "~/Views/Shared/_Projectlayout.cshtml";

    ViewBag.Title = "Time Details";
}

@section SectionNav {
    @Html.Partial("_TimeNavbar");
}

<div>
    <table>
        <tr>
            <th> <label> Requirement N&deg; </label> </th>
            <th> <label>Requirements Analysis </label></th>
            <th> <label>Design </label></th>
            <th> <label>Coding </label></th>
            <th> <label>Testing </label></th>
            <th> <label>Project Management</label> </th>
        </tr>

        <tr>

        </tr>
    </table>
</div>
