@using ProjectManagementSystem.Models
@model List<Hour>
@{
    Layout = "~/Views/Shared/_Projectlayout.cshtml";

    ViewBag.Title = "Time Details";
}

@section SectionNav {
    @Html.Partial("_TimeNavbar");
}

@{
    var queryModel = Model.AsQueryable();
    List<Phase> phases = queryModel.Select<Hour, Phase>(time => time.Phase).Distinct().OrderBy(phase => phase.PhaseID).ToList();
    List<Requirement> reqs = queryModel.Select<Hour, Requirement>(time => time.Requirement).Distinct().OrderBy(req => req.RequirementID).ToList();
}

<div class="container">
    <table class="table">
        <tr>
            <th rowspan="2">Requirement</th>
            <th colspan=@phases.Count>Phase</th>
        </tr>
        <tr>
            @foreach (Phase phase in phases) {
                <th>@phase.PhaseName</th>
            }
        </tr>

        @foreach (Requirement req in reqs) {
            <tr>
                <td>@req.Number</td>

                @foreach (Phase phase in phases) {
                    var timeResults = from time in queryModel where time.RequirementID == req.RequirementID && time.PhaseID == phase.PhaseID select time;
                    float total = (float) timeResults.Sum(time => time.Hours);
                    <td>@total</td>
                }
            </tr>
        }
    </table>
</div>
